@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/poppins/Poppins-Thin.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 100;
  src: url("/fonts/poppins/Poppins-ThinItalic.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/poppins/Poppins-ExtraLight.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 200;
  src: url("/fonts/poppins/Poppins-ExtraLightItalic.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/poppins/Poppins-Light.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 300;
  src: url("/fonts/poppins/Poppins-LightItalic.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/poppins/Poppins-Italic.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/poppins/Poppins-MediumItalic.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/poppins/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 600;
  src: url("/fonts/poppins/Poppins-SemiBoldItalic.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/poppins/Poppins-BoldItalic.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/poppins/Poppins-ExtraBold.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 800;
  src: url("/fonts/poppins/Poppins-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/poppins/Poppins-Black.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 900;
  src: url("/fonts/poppins/Poppins-BlackItalic.ttf");
}

@layer base {
  /* 
  Themes:
    - root (main one no name)
    - pastel orange 
    - light gold
    - bittersweet
    - kiwi green
    - purple mimosa
    each of those themes has their own dark 
  */
  :root {
    --main: #88aaee;
    --overlay: rgba(
      0,
      0,
      0,
      0.8
    ); /* background color overlay for alert dialogs, modals, etc. */

    --bg: #dfe5f2;
    --bw: #fff; /* white and secondary black e.g. utility class variant would be: bg-[#fff] dark:bg-[#212121] */
    --blank: #000; /* blank black and white */
    --border: #000;
    --text: #000;
    --mtext: #000; /* text that is placed on background with main color e.g. text color of default button */
    --ring: #000;
    --ring-offset: #fff;

    --border-radius: 5px;
    --box-shadow-x: 4px;
    --box-shadow-y: 4px;
    --reverse-box-shadow-x: -4px;
    --reverse-box-shadow-y: -4px;
    --base-font-weight: 500;
    --heading-font-weight: 700;

    --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
  }

  .dark {
    --bg: #272933;
    --bw: #212121;
    --blank: #fff;
    --border: #000;
    --text: #e6e6e6;
    --mtext: #000;
    --ring: #fff;
    --ring-offset: #000;

    --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
  }

  .pastel-orange {
    --main: #fd9745;
    --overlay: rgba(
      0,
      0,
      0,
      0.8
    ); /* background color overlay for alert dialogs, modals, etc. */

    --bg: #fff4e0;
    --bw: #fff; /* white and secondary black e.g. utility class variant would be: bg-[#fff] dark:bg-[#212121] */
    --blank: #000; /* blank black and white */
    --border: #000;
    --text: #000;
    --mtext: #000; /* text that is placed on background with main color e.g. text color of default button */
    --ring: #000;
    --ring-offset: #fff;

    --border-radius: 5px;
    --box-shadow-x: 4px;
    --box-shadow-y: 4px;
    --reverse-box-shadow-x: -4px;
    --reverse-box-shadow-y: -4px;
    --base-font-weight: 500;
    --heading-font-weight: 700;

    --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
  }

  .pastel-orange.dark {
    --bg: #272933;
    --bw: #212121;
    --blank: #fff;
    --border: #000;
    --text: #e6e6e6;
    --mtext: #000;
    --ring: #fff;
    --ring-offset: #000;

    --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
  }

  .light-gold {
    --main: #ffdc58;
    --overlay: rgba(
      0,
      0,
      0,
      0.8
    ); /* background color overlay for alert dialogs, modals, etc. */

    --bg: #fef2e8;
    --bw: #fff; /* white and secondary black e.g. utility class variant would be: bg-[#fff] dark:bg-[#212121] */
    --blank: #000; /* blank black and white */
    --border: #000;
    --text: #000;
    --mtext: #000; /* text that is placed on background with main color e.g. text color of default button */
    --ring: #000;
    --ring-offset: #fff;

    --border-radius: 5px;
    --box-shadow-x: 4px;
    --box-shadow-y: 4px;
    --reverse-box-shadow-x: -4px;
    --reverse-box-shadow-y: -4px;
    --base-font-weight: 500;
    --heading-font-weight: 700;

    --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
  }

  .light-gold.dark {
    --bg: #374151;
    --bw: #212121;
    --blank: #fff;
    --border: #000;
    --text: #e6e6e6;
    --mtext: #000;
    --ring: #fff;
    --ring-offset: #000;

    --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
  }

  .bittersweet {
    --main: #ff6b6b;
    --overlay: rgba(
      0,
      0,
      0,
      0.8
    ); /* background color overlay for alert dialogs, modals, etc. */

    --bg: #fcd7d7;
    --bw: #fff; /* white and secondary black e.g. utility class variant would be: bg-[#fff] dark:bg-[#212121] */
    --blank: #000; /* blank black and white */
    --border: #000;
    --text: #000;
    --mtext: #000; /* text that is placed on background with main color e.g. text color of default button */
    --ring: #000;
    --ring-offset: #fff;

    --border-radius: 5px;
    --box-shadow-x: 4px;
    --box-shadow-y: 4px;
    --reverse-box-shadow-x: -4px;
    --reverse-box-shadow-y: -4px;
    --base-font-weight: 500;
    --heading-font-weight: 700;

    --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
  }

  .bittersweet.dark {
    --bg: #272933;
    --bw: #212121;
    --blank: #fff;
    --border: #000;
    --text: #e6e6e6;
    --mtext: #000;
    --ring: #fff;
    --ring-offset: #000;

    --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
  }

  .kiwi-green {
    --main: #a3e636;
    --overlay: rgba(
      0,
      0,
      0,
      0.8
    ); /* background color overlay for alert dialogs, modals, etc. */

    --bg: #e0e7f1;
    --bw: #fff; /* white and secondary black e.g. utility class variant would be: bg-[#fff] dark:bg-[#212121] */
    --blank: #000; /* blank black and white */
    --border: #000;
    --text: #000;
    --mtext: #000; /* text that is placed on background with main color e.g. text color of default button */
    --ring: #000;
    --ring-offset: #fff;

    --border-radius: 5px;
    --box-shadow-x: 4px;
    --box-shadow-y: 4px;
    --reverse-box-shadow-x: -4px;
    --reverse-box-shadow-y: -4px;
    --base-font-weight: 500;
    --heading-font-weight: 700;

    --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
  }
  .kiwi-green.dark {
    --bg: #2c312b;
    --bw: #212121;
    --blank: #fff;
    --border: #000;
    --text: #e6e6e6;
    --mtext: #000;
    --ring: #fff;
    --ring-offset: #000;

    --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
  }

  .purple-mimosa {
    --main: #a388ee;
    --overlay: rgba(
      0,
      0,
      0,
      0.8
    ); /* background color overlay for alert dialogs, modals, etc. */

    --bg: #e3dff2;
    --bw: #fff; /* white and secondary black e.g. utility class variant would be: bg-[#fff] dark:bg-[#212121] */
    --blank: #000; /* blank black and white */
    --border: #000;
    --text: #000;
    --mtext: #000; /* text that is placed on background with main color e.g. text color of default button */
    --ring: #000;
    --ring-offset: #fff;

    --border-radius: 5px;
    --box-shadow-x: 4px;
    --box-shadow-y: 4px;
    --reverse-box-shadow-x: -4px;
    --reverse-box-shadow-y: -4px;
    --base-font-weight: 500;
    --heading-font-weight: 700;

    --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
  }

  .purple-mimosa.dark {
    --bg: #272733;
    --bw: #212121;
    --blank: #fff;
    --border: #000;
    --text: #e6e6e6;
    --mtext: #000;
    --ring: #fff;
    --ring-offset: #000;

    --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
  }
}
